@mixin title($color, $value, $fontSize) {
  font-family: 'Playfair Display';
  font-size: $fontSize;
  font-weight: 900;
  line-height: 120%;
  margin: 0;
  #{$color}: $value;
}

@mixin paragraph($fontSize, $value) {
  font-family: 'Raleway';
  #{$fontSize}: $value;
  line-height: 140%;
  margin: 0;
  font-weight: 500;
}

@mixin link {
  @include paragraph(font-size, 19px);
  list-style: none;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
}

@mixin btnLarge($color, $background, $border) {
  font-family: Raleway;
  font-size: 21px;
  font-weight: 900;
  line-height: 25px;
  letter-spacing: 1.05px;
  background: $background;
  color: $color;
  padding: 20px 48px;
  border: 3px solid $border;
}

@mixin btnSmall($color, $background, $border) {
  font-family: Raleway;
  font-size: 16px;
  font-weight: 900;
  line-height: 1;
  letter-spacing: 1.05px;
  background: $background;
  color: $color;
  padding: 10px 20px;
  border: 3px solid $border;
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Raleway', 'sans-serif';
  background: #eee;
}

body {
  background: #fff;
  margin: auto;
  position: relative;

  &,
  .floatingElements {
    max-width: 1440px;
  }

  & section {
    padding: 100px;
  }
}

.floatingElements__img {
  padding: 114px 0 0;
  height: auto !important;
  z-index: 1;
}

.hero {
  height: 100vh;
  padding: 0 100px;
}

.hero__nav {
  justify-content: space-between;
  width: 100%;
  align-items: center;

  & ul {
    list-style: none;
    align-items: center;
  }

  &,
  ul,
  .hero__logo {
    display: flex;
  }

  & li:not(:last-child) {
    margin-right: 24px;
    position: relative;
  }

  & li:not(:last-child)::after {
    content: '';
    height: 5px;
    background: #4BA87D;
    width: 100%;
    display: block;
    margin-top: 5px;
    position: absolute;
    transform: scaleX(1.1);
  }

  & li:last-child {
    color: #fff;
    background: #4BA87D;
    padding: 10px 20px;
  }

  font-size: 17px;
  font-weight: 800;
  letter-spacing: 1.27px;
  line-height: 20px;
}

.hero__logo {
  align-items: center;

  & h2 {
    font-size: 35px;
    font-weight: 900;
    line-height: 41px;
  }
}

.hero__logoContainer {
  height: 35px;
  position: relative;
  width: 100%;
  margin-right: 13px;
}

.hero__logoImg {
  position: relative !important;
  object-fit: contain;
}

.hero__middle {
  width: 100%;
  height: 383px;
  top: 105px;
  position: relative;
  display: flex;
  align-items: center;
  margin: auto;
}

.hero__leftSide {
  z-index: 2;
}

.hero__title {
  @include title(color, #000, 59px);

  width: 489px;
  padding-bottom: 23px;
}

.hero__subtitle {
  @include paragraph(font-size, 19px);

  width: 489px;
}

.hero__btnContainer {
  margin-top: 35px;
  display: flex;
}

.hero__btn--primary {
  @include btnLarge(#fff, #4BA87D, #4BA87D);
}

.hero__btn--secondary {
  @include btnLarge(#4BA87D, #fff, #4BA87D);
}

.hero__imgContainer {
  position: absolute;
  width: 721.36px;
  height: 481.19px;
  right: 0;
  filter: drop-shadow(0px 3px 16px rgba(0, 0, 0, 0.160784));
  z-index: 1;
}

.hero__img {
  object-fit: contain;
  z-index: -1;
  left: -28.68px;
}

.sectionTwo {
  height: 744px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.sectionTwo__imgContainer {
  height: 531px;
  width: 944px;
  position: relative;
  margin: auto;
  z-index: 1;
}

.sectionTwo__cta {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.sectionTwo__ctaText {
  @include title(color, #fff, 59px);
  padding-bottom: 60px;
}

.sectionTwo__ctaBtn {
  @include btnLarge(#4BA87D, #fff, #fff);
}

.sectionThree {
  display: flex;
  align-items: center;
  position: relative;

  & .sectionThree__title,
  .sectionThree__p {
    z-index: 1;
    position: relative;
  }
}

.sectionThree__bg {
  height: 1059.87px;
  position: absolute;
  width: 100%;
  left: 0;
}

.sectionThree__card:first-child {
  margin-top: -150px;
}

.sectionThree__card {
  position: relative;
  margin-right: 47px;
  filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.160784));
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
  z-index: 1;
}

.sectionThree__imgContainer {
  height: 282.89px;
  position: relative;
}

.sectionThree__imgContainer img {
  object-fit: cover;
}

.sectionThree__textContainer {
  padding: 24px;
}

.sectionThree__cardText {
  @include paragraph(font-size, 16px);
  padding-bottom: 24px;
}

.sectionThree__cardCta {
  @include paragraph(font-size, 16px);
  font-weight: 800;
  color: #4BA87D;
}

.sectionThree__title {
  @include title(color, #000, 48px);
}

.sectionThree__p {
  @include paragraph(font-size, 19px);
  padding-top: 20px;
  z-index: 1;
  position: relative;
}

.sectionFour .sectionFour__cards {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: space-between;
}

.sectionFour .sectionFour__cards>div {
  position: relative;
  height: 250px;
  width: 100%;
  align-items: flex-end;
  display: flex;
}

.sectionFour img {
  object-fit: cover;
}

.sectionFour .sectionFour__cards>div:not(:last-child) {
  margin-right: 33px;
}

.sectionFour h3 {
  @include paragraph(font-size, 34px);
  position: relative;
  z-index: 1;
  font-weight: 900;
  color: #fff;
}

.sectionFour p {
  @include paragraph(font-size, 19px);
  position: relative;
  z-index: 1;
  color: #fff;
}

.sectionFour .sectionFour__cards div div {
  padding: 24px;
}

.sectionFour__newsletter {
  padding: 40px 0 75px;
  text-align: center;
  padding: 0 10%;
  z-index: 1;
  position: relative;
}

.sectionFour__newsletter h2 {
  @include title(color, #000, 48px);
  padding: 32px 0;
}

.sectionFour__newsletter input[type="email"] {
  @include paragraph(font-size, 21px);
  width: 420px;
  height: 65px;
  border: 1px solid #9F9F9F;
  border-radius: 5px;
  padding: 20px 25px;
  margin-right: 27px;
}

.sectionFour__newsletter input[type="submit"] {
  width: 221px;
  height: 65px;
  background: #4BA87D;
  border: none;
  font-family: Raleway;
  font-size: 21px;
  font-weight: 900;
  color: #fff;
}

.sectionFour__newsletter div {
  display: flex;
  justify-content: center;
}

.sectionFive {
  text-align: center;
}

.sectionFive__logos {
  display: flex;
  justify-content: center;
  max-width: 926px;
  margin: 0 auto;
}

.sectionFive__logo {
  object-fit: contain;
}

.sectionFive__imgContainer {
  position: relative;
  height: 40px;
  width: 100%;
}

.sectionFive__imgContainer:not(:last-child) {
  margin-right: 65px;
}

.sectionFive__text {
  @include title(color, #000, 48px);
  padding-bottom: 75px;
}

.sectionSix {
  background: #4BA87D;
  text-align: center;
}

.sectionSix__text {
  @include title(color, #fff, 59px);
  padding-bottom: 40px;
}

.sectionSix__btn {
  @include btnLarge(#4BA87D, #fff, #fff);
}

.sectionSeven {

  & .sectionSeven__logoContainer,
  .sectionSeven__linksContainer,
  .sectionSeven__footerBottom,
  .sectionSeven__footerBottom div:nth-child(2),
  .sectionSeven__footerTop {
    display: flex;
  }
}

.sectionSeven__footerTop {
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 2px solid #DBDBDB;
  padding: 0 0 75px;
}

.sectionSeven__logoContainer {
  align-items: center;
}

.sectionSeven__logoImg {
  margin-right: 10px;
}

.sectionSeven__logoText {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 900;
  line-height: 31px;
  margin: 0;
}

.sectionSeven__linksCol {
  @include link;
}

.sectionSeven__linksCol:not(:last-child) {
  padding-right: 50px;
}

.sectionSeven__link:not(:last-child) {
  margin-bottom: 10px;
}

.sectionSeven__footerBottom {
  padding-top: 40px;
  justify-content: space-between;
}

.sectionSeven__footerBottom p {
  @include paragraph(font-size, 15px);
  font-weight: 700;
}

.sectionSeven__footerBottom div:nth-child(2) p:first-child {
  margin-right: 35px;
}

@media screen and (max-width: 768px) {
  body {
    & section {
      padding: 24px;
    }
  }

  .hero {
    height: auto;
    padding: 0 24px;
  }

  .hero__logo h2 {
    display: none;
  }

  .hero__nav {
    font-size: 16px;
    line-height: 1;
  }

  .hero__logoContainer {
    height: 24px;
    margin-right: 0;
  }

  .sectionSeven .sectionSeven__logoContainer {
    display: none;
  }

  .hero__title {
    @include title(color, #000, 40px);
    width: 60%;
  }

  .hero__subtitle {
    @include paragraph(font-size, 16px);
    width: 60%;
  }

  .hero__imgContainer {
    width: 70%;
    height: 100%;
  }

  .hero__middle {
    top: 40px;
  }

  .hero__btn--primary {
    @include btnSmall(#fff, #4BA87D, #4BA87D);
  }
  
  .hero__btn--secondary {
    @include btnSmall(#4BA87D, #fff, #4BA87D);
  }

  .sectionTwo__imgContainer {
    height: 400px;
    width: 100%;
  }

  .sectionTwo {
    height: auto;
    padding: 100px 24px;
  }

  .sectionTwo__ctaText {
    font-size: 40px;
  }

  .sectionTwo__ctaBtn {
    @include btnSmall(#4BA87D, #fff, #fff);
  }

  .sectionThree__title {
    font-size: 28px;
  }

  .sectionThree__p {
    font-size: 16px;
  }

  .sectionThree__card {
    margin-right: 24px;
  }

  .sectionThree__imgContainer {
    height: 160px;
  }

  .sectionFour h3 {
    font-size: 24px;
  }

  .sectionFour p {
    font-size: 16px;
  }

  .sectionFour .sectionFour__cards > div {
    height: 160px;
  }

  .sectionFour .sectionFour__cards > div:not(:last-child) {
    margin-right: 24px;
  }

  .sectionFour .sectionFour__cards div div {
    padding: 16px;
  }

  .sectionFour__newsletter h2 {
    font-size: 32px;
  }

  .sectionFour__newsletter input[type=email] {
    font-size: 16px;
    width: 275px;
    height: 48px;
    margin-right: 16px;
  }

  .sectionFour__newsletter input[type=submit] {
    width: 144px;
    height: 48px;
    font-size: 16px;
  }

  .sectionFive__text {
    font-size: 32px;
  }

  .sectionSix__text {
    font-size: 32px;
  }

  .sectionSix__btn {
    @include btnSmall(#4BA87D, #fff, #fff);
  }

  .sectionSix {
    padding: 50px;
  }

  .sectionSeven__linksCol {
    font-size: 16px;
    padding: 0;
  }

  .sectionSeven .sectionSeven__footerBottom,
  .sectionSeven .sectionSeven__footerBottom div:nth-child(2) {
    display: block;
  }

  .sectionSeven__footerBottom p {
    font-size: 14px;
    padding-bottom: 4px;
  }
}

@media screen and (max-width: 480px) {
  .hero__nav ul {
    display: none;
  }

  .hero__logo h2 {
    display: block;
    font-size: 24px;
    line-height: 1;
    margin-left: 8px;
  }

  .sectionSeven .sectionSeven__linksContainer {
    display: block;
  }

  .sectionSeven__linksCol:not(:last-child) {
    padding-right: 0;
    margin-bottom: 24px;
  }

  .sectionThree {
    display: block;
  }

  .sectionThree__card:first-child {
    margin-top: 0;
  }

  .sectionThree__card {
    margin-right: 0;
    margin-bottom: 24px;
  }

  .sectionFour .sectionFour__cards {
    display: block;
  }

  .sectionFour .sectionFour__cards > div:not(:last-child) {
    margin-right: 0;
    margin-bottom: 24px;
  }

  .sectionFour .sectionFour__cards > div {
    height: 210px;
  }

  .sectionFive__imgContainer:not(:last-child) {
    margin-right: 0;
    max-width: 50%;
    display: inline-block;
  }

  .sectionFive__imgContainer {
    margin: 10px 0;
    height: 30px;
  }

  .sectionFive__logos {
    display: block;
  }
  
  .sectionTwo__imgContainer img {
    object-fit: cover;
  }

  .sectionTwo__imgContainer {
    height: 300px;
    width: 100%;
  }

  .sectionThree__imgContainer {
    height: 210px;
  }
}