a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', 'sans-serif';
  background: #eee;
}

body {
  max-width: 1440px;
  background: #fff;
  margin: auto;
}

.hero {
  padding: 0 100px;
  height: 100vh;
}

.hero__nav {
  justify-content: space-between;
  width: 100%;
  align-items: center;

  & ul {
    list-style: none;
    align-items: center;
  }

  &,
  ul,
  .hero__logo {
    display: flex;
  }

  & li:not(:last-child) {
    margin-right: 24px;
    position: relative;
  }

  & li:not(:last-child)::after {
    content: '';
    height: 5px;
    background: #4BA87D;
    width: 100%;
    display: block;
    margin-top: 5px;
    position: absolute;
    transform: scaleX(1.1);
  }

  & li:last-child {
    color: #fff;
    background: #4BA87D;
    padding: 10px 20px;
  }

  font-size: 17px;
  font-weight: 800;
  letter-spacing: 1.27px;
  line-height: 20px;
}

.hero__logo {
  align-items: center;

  & img {
    margin-right: 13px;
  }

  & h2 {
    font-size: 35px;
    font-weight: 900;
    line-height: 41px;
  }
}

.hero__middle {
  width: 1088px;
  height: 383px;
  top: 105px;
  position: relative;
  display: flex;
  align-items: center;
  margin: auto;
}

.hero__leftSide {
  z-index: 1;
}

.hero__title {
  font-family: Playfair Display;
  font-size: 59px;
  font-weight: 900;
  line-height: 71px;
  margin: 0;
  width: 489px;
  margin-bottom: 23px;
}

.hero__subtitle {
  font-family: Raleway;
  font-size: 19px;
  font-weight: 500;
  line-height: 26px;
  width: 489px;
  margin: 0;
}

.hero__btnContainer {
  margin-top: 35px;
  display: flex;
}

.hero__btn--primary {
  font-family: Raleway;
  font-size: 21px;
  font-weight: 900;
  line-height: 25px;
  letter-spacing: 1.05px;
  background: #4BA87D;
  color: #fff;
  padding: 20px 48px;
  border: 3px solid #4BA87D;
  margin-right: 45px;
}

.hero__btn--secondary {
  font-family: Raleway;
  font-size: 21px;
  font-weight: 900;
  line-height: 25px;
  letter-spacing: 2.1px;
  background: #FFFFFF;
  border: 3px solid #4BA87D;
  color: #4BA87D;
  box-sizing: border-box;
  padding: 20px 48px;
}

.hero__imgContainer {
  position: absolute;
  width: 721.36px;
  height: 481.19px;
  right: 0;
  filter: drop-shadow(0px 3px 16px rgba(0, 0, 0, 0.160784));
}


.hero__img {
  object-fit: contain;
  z-index: -1;
  left: -28.68px;
}

// SECTION 2

.sectionTwo {
  height: 744px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.sectionTwo__imgContainer {
  height: 531px;
  width: 944px;
  position: relative;
  margin: auto;
  z-index: 1;
}

.sectionTwo__cta {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.sectionTwo__ctaText {
  font-family: 'Playfair Display';
  font-size: 60px;
  font-weight: 900;
  line-height: 80px;
  color: #fff;
  margin: 0 0 60px;
}

.sectionTwo__ctaBtn {
  font-family: Raleway;
  font-size: 21px;
  font-weight: 900;
  line-height: 25px;
  letter-spacing: 1.05px;
  background: #fff;
  color: #4BA87D;
  padding: 20px 48px;
  border: 3px solid #fff;
  margin-right: 45px;
  display: inline-block;
}

// SECTION 3

.sectionThree {
  display: flex;
  align-items: center;
  position: relative;
  padding: 100px;
}

.sectionThree__bg {
  height: 1059.87px;
  position: absolute;
  width: 100%;
  left: 0;
}

.sectionThree__card {
  position: relative;
  margin-right: 47px;
  filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.160784));
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
  z-index: 1;
}

.sectionThree__imgContainer {
  height: 282.89px;
  position: relative;
}

.sectionThree__imgContainer img {
  object-fit: cover;
}

.sectionThree__textContainer {
  padding: 24px;
}

.sectionThree__cardText {
  font-family: Raleway;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  margin: 0 0 24px;
}

.sectionThree__cardCta {
  font-family: Raleway;
  font-size: 16px;
  font-weight: 800;
  line-height: 19px;
  color: #4BA87D;
}


.sectionThree__title {
  font-family: Playfair Display;
  font-size: 44px;
  font-weight: 900;
  line-height: 48px;
  z-index: 1;
  position: relative;
}


.sectionThree__subtitle {
  font-family: Raleway;
  font-size: 19px;
  font-weight: 500;
  line-height: 26px;
  z-index: 1;
  position: relative;
}


// SECTION 4

.sectionFour {
  padding: 100px;
}

.sectionFour .sectionFour__cards {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: space-between;
}

.sectionFour .sectionFour__cards>div {
  position: relative;
  height: 250px;
  width: 100%;
  align-items: flex-end;
  display: flex;
}

.sectionFour img {
  object-fit: cover;
}

.sectionFour .sectionFour__cards>div:not(:last-child) {
  margin-right: 33px;
}

.sectionFour h3 {
  position: relative;
  z-index: 1;
  margin: 0;
  font-family: Raleway;
  font-size: 34px;
  font-weight: 900;
  line-height: 40px;
  color: #fff;
}

.sectionFour p {
  position: relative;
  z-index: 1;
  margin: 0;
  font-family: Raleway;
  font-size: 19px;
  font-weight: 700;
  line-height: 22px;
  color: #fff;
}

.sectionFour .sectionFour__cards div div {
  padding: 24px;
}

.sectionFour__newsletter {
  padding: 40px 0 75px;
  text-align: center;
  padding: 0 10%;
}

.sectionFour__newsletter h2 {
  font-family: Playfair Display;
  font-size: 44px;
  font-weight: 900;
  line-height: 48px;
  letter-spacing: 0px;
}

.sectionFour__newsletter input[type="email"] {
  box-sizing: border-box;
  width: 420px;
  height: 65px;
  background: #FFFFFF;
  border: 1px solid #9F9F9F;
  border-radius: 5px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  /* identical to box height, or 119% */
  letter-spacing: 1.05px;
  color: #000000;
  padding: 20px 25px;
  margin-right: 27px;
}

.sectionFour__newsletter input[type="email"]::placeholder {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  /* identical to box height, or 119% */
  letter-spacing: 1.05px;
  color: #000000;
}

.sectionFour__newsletter input[type="submit"] {
  width: 221px;
  height: 65px;
  background: #4BA87D;
  box-sizing: border-box;
  border: none;
  font-family: Raleway;
  font-size: 21px;
  font-weight: 900;
  line-height: 25px;
  letter-spacing: 1.0499999523162842px;
  color: #fff;
}

.sectionFour__newsletter div {
  display: flex;
  justify-content: center;
}

// SECTION 5
.sectionFive {
  padding: 0 75px 100px;
  text-align: center;
}

.sectionFive__logos {
  display: flex;
  justify-content: center;
  max-width: 926px;
  margin: 0 auto;
}

.sectionFive__logo {
  object-fit: contain;
}

.sectionFive__imgContainer {
  position: relative;
  height: 40px;
  width: 100%;
}

.sectionFive__imgContainer:not(:last-child) {
  margin-right: 65px;
}

.sectionFive__text {
  font-family: Playfair Display;
  font-size: 44px;
  font-weight: 900;
  line-height: 48px;
  margin: 0 0 75px;
}

// SECTION 6

.sectionSix {
  background: #4BA87D;
  padding: 100px;
  text-align: center;
}

.sectionSix__text {
  font-family: Playfair Display;
  font-size: 60px;
  font-weight: 900;
  line-height: 80px;
  color: #fff;
  margin: 0 0 40px;
}

.sectionSix__btn {
  font-family: Raleway;
  font-size: 21px;
  font-weight: 900;
  line-height: 25px;
  letter-spacing: 1.05px;
  background: #fff;
  color: #4BA87D;
  padding: 20px 48px;
  border: 3px solid #fff;
  margin-right: 45px;
  display: inline-block;
}

// SECTION 7

.sectionSeven {
  display: flex;
  justify-content: space-between;
  padding: 100px;
  align-items: flex-start;
}

.sectionSeven__logoContainer {
  display: flex;
  align-items: center;
}

.sectionSeven__logoImg {
  margin-right: 10px;
}

.sectionSeven__logoText {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 900;
  line-height: 31px;
  margin: 0;
}

.sectionSix__linksContainer {
  display: flex;
}

.sectionSeven__linksCol {
  list-style: none;
  font-family: Raleway;
  font-size: 19px;
  font-weight: 700;
  line-height: 22px;
  margin: 0;
}

.sectionSeven__linksCol:not(:last-child) {
  padding-right: 50px;
}

.sectionSeven__link:not(:last-child) {
  margin-bottom: 10px;
}